extends layouts/main-layout.pug

//- here we define a styles block to add additional styles specific to this template
block styles 
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")

block content
    main
        form.product-form(action="/admin/add-product", method="POST")
            .form-control
                label(for="title") Title
                // - The #title is the id for the input, it is used to link the label with the input
                input(type="text", name="title", required)#title

            button.btn(type="submit") Add Product